<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!--    이미지 위에 버튼을 올리는 법-->
<!--    부모를 이미지로 두기-->
<!--7주차에 있음-->
    <style>
        .bg-img{
            width:200px;
            height:200px;
            background-image: url("https://cdn.mkhealth.co.kr/news/photo/202102/52163_52859_5928.jpg");
            background-repeat: no-repeat;
            background-size:cover;
            background-position:center;
            position: relative;

        }

        #cta{
            position:absolute;
            /*바닥에서 얼마나 떨어지게 할 건지*/
            bottom:0;
            right:0;
        }

    </style>
</head>
<body>
<div class="bg-img">
    <button id ="cta">버튼</button>
</div>

</body>
</html>